@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-violet-500 transform -translate-y-[26px] -translate-x-10 scale-[0.65];
}

.css-1h7e0e4-control{
  border-color: #111827 !important;
}
.css-qbdosj-Input{
  color: white !important;
}
.css-1dimb5e-singleValue{
  color: white !important;
}